[Desktop Entry]

Type = Application
Version = 0.1.0
Name = PopupTranslator
Comment = Google popup translator
Exec = PopupTranslator
Icon = /usr/share/PopupTranslator/icon.png
Terminal = false
Categories = Education;Languages;
